.full-width {
  width: 100%;
  align-self: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 80%;
  font-size: small;
  .typo {
    flex-basis: 50%;
    font-size: 2em;
  }
}

.lederboard {
  // flex: auto;
  align-items: center;
  margin: 2rem;
  font-size: 3em;
}

.user-name {
  flex: auto;
  font-size: 1.8em;
}

.wpm {
  flex: auto;
  font-size: 1.8em;
}

img {
  max-width: 10em;
  max-height: 10em;
  // argin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mat-card-image {
  margin: 0px;
}
