<div class="container">
  <div *ngIf="finished" class="timmer">
    {{resultWpm}}
  </div>
  <div class="typo">
    <mat-form-field class="full-width">
      <input #mainInput [(ngModel)]="typedWord" class="typo" matInput type="text" (keyup)="initialize()"
        (keyup.Space)="checkWord($event)">
    </mat-form-field>
  </div>
  <div class="reset-button">
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="reset()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="timer">
    {{count}}
  </div>
</div>

<div class="container word-list">
  <div *ngFor="let word of wpm.firstRowWordList">
    <p *ngIf="word.getError()" [ngClass]="(word.getError()) ? 'danger' : ''">{{word.word}}</p>
    <p *ngIf="word.getCorrect()" [ngClass]="(word.getCorrect()) ? 'sucessful' : ''">{{word.word}}</p>
    <p *ngIf="!word.getError() && !word.getCorrect()">{{word.word}}</p>
  </div>
</div>
<div class="container second-word-list">
  <p *ngFor="let word of wpm.secondRowWordList">{{word.word}}</p>
</div>
