<mat-toolbar color="primary" class="navbar">
  <span routerLink="/" routerLinkActive="active"> DevTypo</span>

  <span routerLink="/main/javascript" routerLinkActive="active"> JavaScript</span>
  <span routerLink="/main/python" routerLinkActive="active"> Python</span>
  <span routerLink="/main/java" routerLinkActive="active"> Java</span>
  <span routerLink="/main/csharp" routerLinkActive="active"> C#</span>
  <span routerLink="/main/html" routerLinkActive="active"> Html</span>
  <span routerLink="/main/css" routerLinkActive="active"> Css</span>

  <span class="example-fill-remaining-space"></span>
  <span>{{userName}}</span>
  <form #userForm="ngForm" (ngSubmit)="setUserName(userForm.value)" *ngIf="userName === 'Unknown'">
    <mat-form-field>
      <input matInput #userNameInput type="userName" name="userName" autocomplete="off" ngModel>
    </mat-form-field>
    <button mat-flat-button *ngIf="userName === 'Unknown'" type="submit">Submit</button>
  </form>
</mat-toolbar>
